<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head")%>


<body>
    <div class="card textlight bg-dark text-light min-vh-100">

        <div class="card-body p-1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col d-flex p-0 flex-wrap">
                        <% servers.forEach(svInfo => {%>
                        <a href="/apps/serverStatus/<%=svInfo.EndPoint%>">
                            <div class="d-inline-flex flex-column align-items-center p-2" style="cursor: pointer;">
                                <div class="shortcut-icon rounded shadow"
                                    style="background: url('http://servers-live.fivem.net/servers/icon/<%=svInfo.EndPoint%>/<%=svInfo.Data.iconVersion%>.png') center / contain no-repeat;">
                                </div><span
                                    class="text-center shortcut-text"><%=svInfo.Data.vars.get("sv_projectName")%></span>
                            </div>
                        </a>

                        <%})%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>