<!DOCTYPE html>
<html lang="en">
<head>
<%- include("../partials/head.ejs")%>
<link rel="stylesheet" href="/css/winbox.css">
</head>


<body>
    <div class="desktop-center" style="opacity: 0.50;"><img src="/assets/img/Emoji.svg" alt="Grape Emoji" width="100"
            height="100"><span class="sp-subbrand">Powered By</span><span class="sp-brand">&lt;grapeOS/&gt;</span>
    </div>
    <p class="text-center p-2"
        style="position: absolute;bottom: 50px;right: 15px;color: rgb(200,200,200,0.3);border: 1px solid rgb(200,200,200,0.3);">
        [ WARNING ]<br>Site still in development<br>Expect errors!</p>
    <div class="navbar-bottom"><img class="taskbar-start" src="/assets/img/Emoji.svg" alt="Grape Emoji" style="filter: brightness(95%) grayscale(100%);">
        <div class="taskbar-right"><img class="px-2"id="spotify" src="/assets/img/akar-icons_spotify-fill.svg" style="cursor: pointer;" alt="Spotify">
        <a href="<%=authRoute%>" class=" d-flex justify-content-center">
        <img src="/assets/img/vs_profile.svg" alt="Profile">
        </a>
            <div class="taskbar-timedate text-light"><span id="time"></span><span id="date"></span></div>
        </div>
    </div>
    <div class="container-fluid text-light">
        <div class="row">
            <div class="col-4">
                <div class="d-inline-flex flex-column align-items-center" id="iconWrapper"></div>
            </div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/winbox.bundle.js"></script>
    <script src="/js/clock.js"></script>
    <script src="/js/spotify.js"></script>
    <script src="/js/iconCreator.js"></script>
    <script>
        const wrapper = document.getElementById("iconWrapper");
        
        function _myFunc(opts) {
            
            winBox(opts);
        }
        const winBox = (opts) => {
            const defaultOpts = {
                onfocus: function () {
                    if (window.screen.width < this.width) {
                        this.maximize(true);
                    }
                },

                onblur: function () {
                    if (window.screen.width < this.width) {
                        this.close();
                    }
                },
            };
            let allOpts = Object.assign({}, opts, defaultOpts);
            //console.log(allOpts);
            return new WinBox(allOpts);
        };
        <% scs.forEach(sc => {%>
            icon(<%-JSON.stringify(sc)%>, wrapper);
            document.getElementById("<%=sc._id%>").addEventListener("click", () => {
                <% if(sc.type === "folder") {%>
                const box = winBox({ 
                    title: '<%=sc.name%>', 
                    width: '640', 
                    height: '480', 
                    url: '/folder/<%=sc._id%>' });
            <%} if(sc.type === "shortcut") {%>
            const box = winBox(<%-JSON.stringify(sc.data.winbox)%>);
            <%}%>
        });
        
        <%})%>
        
    </script>
</body>

</html>