<html lang="en">

<%-include("../partials/head")%>

<body>
    <div class="card textlight bg-dark text-light min-vh-100">
        
        <div class="card-body p-1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col d-flex p-0" id="iconWrapper">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/iconCreator.js"></script>
    <script defer>
        const wrapper = document.getElementById("iconWrapper");
        <% scs.forEach(sc => {
            //console.log(sc);%>
            icon(<%-JSON.stringify(sc)%>, wrapper);
            document.getElementById("<%=sc._id%>").addEventListener("click", () => {
                <% if(sc.type === "folder") {%>
                window.parent._myFunc({ 
                    title: '<%=sc.name%>', 
                    width: '640', 
                    height: '480', 
                    url: '/folder/<%=sc._id%>' });
            <%} if(sc.type === "shortcut") {%>
            window.parent._myFunc(<%-JSON.stringify(sc.data.winbox)%>);
            <%}%>
        });
        
        <%})%>
        
    </script>
</body>

</html>