<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/v3/head")%>
</head>

<body>
  <%- include("../partials/v3/navbar")%>
  <div class="container my-2">
    <div class="row">
      <div class="col style-panel visually-hidden">
        <div class="row">
          <div class="col-2"><img class="img-fluid" src="/v3/assets/img/Discord-Logo-Color.svg"></div>
          <div class="col">
            <div>
              <h5 class="m-0">Discord</h5><span class="text-secondary">Featured Guilds<br></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 style-panel rounded overflow-hidden">
        <div class="row bg-tint">
          <div class="col-4 d-flex align-items-center p-1"><img class="img-fluid px-2 py-1" src="v3/assets/img/steam-logo.png" style="opacity: 0.60;"></div>
          <div class="col p-0">
            <div>
              <div class="d-flex flex-row justify-content-end">
                <div class="d-flex flex-column align-items-end p-2"><span class="d-flex text-info" id="steam-nickname">...</span><span class="d-flex text-info" id="steam-onlinestate"></span></div><img class="rounded img-fluid shadow" id="steam-profile-picture" src="">
              </div>
            </div>
          </div>
        </div>
        <div class="row visually-hidden" id="row-steamCurrentlyPlaying">
          <a id="game-link" href="">
            <div class="col d-flex flex-column pt-2"><span class="text-white-50 bg-success mt-2 mx-2 p-1" style="border-top-left-radius: 4px;border-top-right-radius: 4px;">Currently Playing<br></span>
              <div class="row mx-2 bg-tint border border-success" style="border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;">
                <div class="col">
                  <div class="row">
                    <div class="col p-0"><img class="img-fluid" id="steam-playing-splash" src="" width="100%"></div>
                  </div>
                  <div class="row">
                    <div class="col p-2">
                      <h5 id="steam-playing-title" class="m-0 text-white"></h5><span id="steam-playing-author" class="text-secondary"><br></span>
                      <div class="d-flex flex-row flex-wrap" id="steam-playing-genres"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="row">
          <div class="col p-0">
            <hr>
            <div class="px-2">
              <h6 class="m-0">Recently Played</h6><span class="text-secondary" style="font-size: 14px;">Over the past 2 weeks<br></span>
            </div>
          </div>
        </div>

        <% steamRecentGames.forEach((game, index) => {%>
        <a target="_blank" href="https://store.steampowered.com/app/<%=game.game.appID%>">
          <div class="row my-2 mx-2 rounded bg-tint shadow">
            <div class="col">
              <div class="row">
                <div class="col p-0"><img class="rounded img-fluid" src="<%=game.gameInfo.gameDetails.header_image%>" width="100%"></div>
              </div>
              <div class="row">
                <div class="col p-2">
                  <h5 class="m-0 text-white"><%=game.gameInfo.gameDetails.name%></h5><span class="text-secondary"><%=game.gameInfo.gameDetails.developers[0]%><br></span>
                  <div class="d-flex flex-row flex-wrap">
                    <%game.gameInfo.gameDetails.genres.forEach(genre => {%>
                    <span class="span-game-genre"><%=genre.description%></span>
                    <%})%>
                  </div>
                  <div><span class="text-secondary"><%=((game.game.playTime2 / 60) + 1).toFixed(0)%></span><span class="text-secondary px-1">hours over past two weeks</span></div>
                  <div><span class="text-secondary"><%=((game.game.playTime / 60) + 1).toFixed(0)%></span><span class="text-secondary px-1">hours in total</span></div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <hr>
        <% }); %>


      </div>
      <div class="col overflow-hidden p-0 m-0">
        <div class="row style-panel mb-2 mx-0">
          <div class="col">
            <div class="row p-2 bg-tint">
              <div class="col-4 d-flex align-items-center p-2"><img class="img-fluid" src="/v3/assets/img/Spotify_Logo_RGB_White.png"></div>
              <div class="col d-flex justify-content-start align-items-center p-1"><span id="txtPlaying" class="text-secondary"></span></div>
            </div>
            <a id="tracklink" target="_blank">
              <div class="row my-2 p-2">
                <div class="col-4 d-flex justify-content-center"><img class="rounded img-fluid shadow" id="trackart" src="/v3/assets/img/forever_alone_music_note.png"></div>
                <div class="col d-flex flex-column justify-content-center"><span id="tracktitle" class="text-light fw-bold" href="#">...</span><span id="trackartist" class="text-secondary fw-light" href="#">...</span></div>
              </div>
            </a>
          </div>
        </div>
        <div class="row style-panel my-2 mx-0">
          <div class="col">
            <div class="row p-2 bg-tint">
              <div class="col d-flex p-1">
                <div class="d-flex justify-content-center align-items-center rounded shadow mx-2" style="width: 3rem;height: 3rem;padding: 0.5rem;background: rgb(88,16,16);margin-right: 0px;"><img class="img-fluid" src="https://www.last.fm/static/images/footer_logo@2x.49ca51948b0a.png"></div>
                <div>
                  <h5 class="m-0">last.fm</h5><span class="text-secondary">Top Tracks<br></span>
                </div>
              </div>
            </div>
            <%lastfmWeeklyTrackChart.forEach(track => {%>
            <a target="_blank" href="<%=track.url%>">
              <div class="row m-2 p-2 bg-tint">
                <div class="col-1 d-flex justify-content-center align-items-center">
                  <span class="text-light fw-bold">#<%=track["@attr"].rank%></span>
                </div>
                <div class="col-3 d-inline-flex justify-content-center align-items-center">
                  <img class="rounded img-fluid img-fluid shadow" src="<%=track.image[2]['#text'];%>">
                </div>
                <div class="col-8 d-flex flex-column justify-content-center">
                  <span class="text-light fw-bold"><%=track.name%></span>
                  <span class="text-secondary fw-light"><%=track.artist['#text']%></span>
                  <span class="text-secondary fw-light">Play Count: <%=track.playcount%></span>
                </div>
              </div>
            </a>
            <%});%>
            <footer class="d-flex justify-content-end">
              <label class="form-label" style="color: rgba(248,249,250,0.36);text-align: right;font-size: 0.8rem;">Data provided by last.fm with Spotify Connect</label>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/v3/assets/bootstrap/js/bootstrap.min.js"></script>
  <%- include("../scripts/v3/widgets")%>
</body>

</html>